<div class="col-lg-4 pull-right pb-20">
    <div class="input-group">
        <form action="{{ searchUrl }}" method="get">
            <input type="text" class="form-control" name="query" placeholder="Search for...">
            <span class="input-group-btn">
                <a class="btn btn-primary" href="{{ newUrl }}">{{ newLabel }}</a>
            </span>
        </form>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->