<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-brand fixed-top" id="mainNav">
   <a class="navbar-brand" href="/dashboard">MyApp</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/dashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>

        </ul>
    </div>

    <div class="pull-right col-md-2">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.firstName }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li >
                        <a href="/profile" class="nav-link">
                            <i class="fa fa-fw fa-user"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>

                </ul>
            </div>
            <a href="/logout" class="btn btn-dark">
                <i class="fa fa-fw fa-sign-out"></i>
            </a>
        </div>
    </div>
</nav>