<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-brand fixed-top" id="mainNav">
   <a class="navbar-brand" href="/dashboard">MyApp</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/dashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>

        </ul>
    </div>

    <div class="pull-right col-md-2">
        <span class="header-text">Welcome {{ user.firstName }} {{ user.lastName }}</span>
    </div>
</nav>